$color-primary: rgb(235, 15, 136);
$color-btn: rgb(242, 119, 247);
$texto-secundary: "Marcellus SC", serif;
$texto-primary: "Slackey", sans-serif;
$texto-break: "Roboto Condensed", sans-serif;
// variables.scss
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
