.coctelcard {
	display: none;
}

#container {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
#spinner-container {
	display: none;
}
.oculto {
	display: none;
}
#searchInput {
	display: none;
}

/* detalle card */
#detail-container {
	display: none;
}
