#editForm {
	display: flex;
	flex-direction: column;
	padding: 8px;
	margin: 15px;
	margin: auto;
	font-family: $texto-secundary;
	color: $color-primary;
}
h2 {
	color: $color-primary;
	display: flex;
	justify-content: center;
}

#editName {
	
	
    width: 100%;
    border: 1px solid rgb(248, 133, 214);
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 9px;
	
}



#editImage {

    width: 100%;
    border: 1px solid rgb(248, 133, 214);
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 9px;
	
}
#editPreparation {
	height: 8em;
	width: 100%;
	border: 1px solid rgb(248, 133, 214);
	border-radius: 8px;
	margin-bottom: 7px;
	padding: 9px;
}
#editIngredients {
	height: 4em;
	width: 100%;
	border: 1px solid rgb(248, 133, 214);
	border-radius: 8px;
	margin-bottom: 7px;
	padding: 9px;
}

.save-btn{
height: 30px;
	width: 100px;
	border-radius: 20px;
	background-color: $color-primary;
	border: none;
	cursor: pointer;
}

 .cancel-edit{
	height: 30px;
	width: 100px;
	border-radius: 20px;
	cursor: pointer;
}




