.oculto {
  display: none;
}

#nuevaCoctelCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0em auto;
  display: none;
  padding: 60px 40px 40px;
  width: 60%;

  @include respond-to(small) {
    width: 90%;
    max-width: 1000px;
    font-family: $texto-break;
  }
  @include respond-to(medium) {
    width: 85%;
    max-width: 1100px;
    height: auto;
    font-family: $texto-break;
  }
}

#coctelForm {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  box-shadow: 3px 3px 15px rgb(245, 6, 137);
  padding: 8px;
  margin: auto;
}

#nameInput {
  height: 2em;
  border: 1px rgb(230, 24, 168);
  width: 100%;
}

#imageInput {
  height: 2em;
  border: 1px rgb(230, 24, 168);
  width: 100%;
}

#alcoholInput {
  height: 2em;
  border: 1px rgb(230, 24, 168);
  width: 100%;
}

#ingredientsInput {
  height: 2em;
  border: 1px rgb(230, 24, 168);
  width: 100%;
}

#preparationInput {
  height: 9em;
  width: 100%;
  background: #fff;
  color: #070000;
}

.submit-btn {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: $color-primary;
  border: none;
}
.btn-new {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}
#cancelarBtn {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  border: none;

  &:hover {
    background: #eebeea;
    border: 1px solid rgba(0, 0, 0, 0.05);

    color: #f80858;
    text-decoration: none;
  }
}
