* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1em;
  text-transform: capitalize;
  background-color: #0a0a0a;
}
